<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATN Company Management</title>
    <link rel="stylesheet" href= "/style/homepage.css">
</head>
<body>
    <div id="nav-bar">
        <a href=""><img id ="home" src="/images/homepage2.png"></a>  
        <ul>
        <li  id="trans" style="margin-left: 100px;"><a href="/homepage/employee">Manage Accounts</a></li>
        <li><a href="news.asp">Manage Products</a></li>
        <li class="list" style="background-color: rgb(105, 50, 50);" id="logout"><a href="/">Logout</a></li>
        </ul>
    </div>
<div id="container">



<a href="homepage/employee">
<div id="manage-account">
<img id="staffimg" src="/images/staff.png">
<h1>Account management</h1>
</div>
</a>


<a href="#product">
<div id= "manage-product">
<img style="margin-top:12px;" id="productimg" src="/images/product.png">
<h1>Product management</h1>
</div>
</a>



<a href="#account">
<div id="account">
<img id="accountimg" src="/images/account.png">
<h1>User account</h1>
</div>
</a>



</div>   

</body>
</html>