<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - Home Page</title>
    <link rel="stylesheet" href= "/style/signup.css">
    <link rel = "icon" href = "images/homepage.jpg" type = "image/x-icon"> 
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div id="title-con">
<h1 id="title2">The ATN company</h1>
<p>The world's largest toy company, ATN, Inc. that designs, manufactures, </p> 
    <p>markets, and distributes a wide variety of toy products in 150 countries.</p> 
    <p>The company's products include a number of core toy lines, including </p>
    <p>Barbie dolls, clothing, and accessories; Hot Wheels toy die-cast vehicles; </p>
    <p>Warner Bros. merchandise, including Harry Potter, Batman, Superman, and </p>
        <p>Looney Tunes products.</p>
</div>

</body>
</html>