<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - Home Page</title>
    <link rel="stylesheet" href= "/style/index.css">
    <link rel = "icon" href = "images/homepage.jpg" type = "image/x-icon"> 
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div id="login-box">
  <div class="left">
    <h1 id="signin">Sign in</h1>
    <form action="homepage" action="employee" method="POST">
        <input type="text" name="username" placeholder="Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <p id="warning">Password is incorrect!</p>
        <button class="login" type="submit" name="login">Login</button>
    </form>
    
    
    
    <p id="forgot">Forgot your password? <u id = "click" onclick="openform()">Click here.</u></p>

    <div id="line"></div>
  </div>
  <div style="cursor: default; pointer-events: none;">
  <h1 style="position:absolute; margin-top:340px; font-size:12px; margin-left:110px; color:rgb(133, 133, 133)">Cooporate with</h1>
    <img id="mongo" style="width: 160px; height: 100px; position:fixed; margin-top:340px" src="images/mongodb.png">
    <img id="mongo" style="width: 160px; height: 50px; position:fixed; margin-top:360px; margin-left: 135px" src="images/heroku.jpg">
    <img id="mongo" style="width: 115px; height: 55px; position:fixed; margin-top:430px; margin-left: 20px;" src="images/github.jpeg">
    <img id="mongo" style="width: 160px; height: 70px; position:fixed; margin-top:420px; margin-left: 135px" src="images/vscode.png">
  </div>
</div>

{{!<div class="w3-container" id="popup-background" style="background-color: white; width:300px; height:300px;">
<div class="w3-center w3-animate-top" class="form_pop" id ="form">
  <form action="" method="POST">
    <h1 id="X" onclick="closeform()">X</h1>

    <h1 style="color: white; margin-left: 20px; font-family: Arial, Helvetica, sans-serif;">Forgot password</h1>

    <label style="color: white; margin-left: 20px; font-family: Arial, Helvetica, sans-serif;" for="email"><b>Username: </b></label><BR><BR>
    <input style="width: 200px; height: 30px; margin-left: 20px; border-radius: 4px; padding: 8px 12px;" type="text" placeholder="Enter Username" name="username" required><BR><BR>

    <label style="color: white; margin-left: 20px; font-family: Arial, Helvetica, sans-serif;" for="psw"><b>Phone number: </b></label><BR><BR>
    <input type="password" style="width: 200px; height: 30px; margin-left: 20px; border-radius: 4px; padding: 8px 12px;" placeholder="Enter Password" name="password" required><BR><BR>

    <button style="font-size: 17px; padding: 8px; box-shadow: none; border-radius: 70px; width: 150px; margin-left: 50px" type="submit" id="login">Login</button><BR><BR>
     
  </form>
</div>
</div>
--}}
<div id="popup-background" style="position: relative; z-index:2; width:100%; height:910px; margin-left:0px; margin-top:-800px;">
<div style="margin-top: 280px; margin-left:35%;" class="w3-container w3-center w3-animate-top" id= "popup-container">
  <form id="form" action="/" method="POST">
    <h1 id="X" onclick="closeform()">X</h1>

    <h1 class="forgot-form" style="margin-top: 35px;">Forgot password?</h1>

    <label class="label"><b>Enter your username: </b></label><BR><BR>
    <input class="forgot-input" style="margin-top: -10px;" type="text" placeholder="Username" name="username" required><BR><BR>

    <label class="label" for="psw"><b>Your phone number: </b></label><BR><BR>
    <input style="margin-top: -10px;" class="forgot-input" type="text" placeholder="09xx" name="phone" required><BR><BR>

    <button onclick="noti()" id="forgot-button" style="font-size: 17px; padding: 8px; box-shadow: none; border-radius: 70px; width: 150px; margin-left: 50px" type="submit" id="login">Confirm</button><BR><BR>
     
  </form>
</div>
</div>

<script>

function noti()
{
  alert("Sent!");
}

function openform() {
  document.getElementById("popup-background").style.display = "block";
}

function closeform() {
  document.getElementById("popup-background").style.display = "none";
}

/* 
if()
document.getElementById("warn").style.display = "block";
else
document.getElementById("warn").style.display = "none";
*/
</script>

</body>
</html>