<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATN Company Management</title>
    <link rel="stylesheet" href= "/style/homepage.css">
</head>
<body>
    <div id="nav-bar">
        <ul>
        <li style="margin-left: 100px;"><a href="default.asp">Manage Accounts</a></li>
        <li><a href="news.asp">Manage Products</a></li>
        <li style="background-color: rgb(105, 50, 50);" id="logout"><a href="/">Logout</a></li>
        </ul>
    </div>
</body>
</html>